{% extends "base.html" %}
{% block title %}Homepage{% endblock title %}
{% block content %}
    <div class="card-container-label">
        <h1>Which charity are you donating to?</h1>
    </div>
    <div class="card-container">
        {% for charity in charities %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ charity.charity_name }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ charity.home_page_text }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('organization.charity_info_page', charity_id=charity.id) }}" class="btn-donate">Charity Page</a>
                    <a href="{{ url_for('organization.recurring_donation_page', charity_id=charity.id) }}" class="btn-donate">Donate Now!</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}