{% extends 'base.html' %}
{% block title %}Donation Page{% endblock title %}
{% block content %}



<div class="form-card">
    <div class="form-card-body">
        <h1>Charity Authentication</h1>
        <form method="post" enctype="multipart/form-data">
            {{ update_form.hidden_tag() }}

            {{ update_form.id.label }}
            {{ update_form.id(value=charity.id) }}
            {% for error in update_form.id.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.charity_name.label }}
            {{ update_form.charity_name(value=charity.charity_name) }}
            {% for error in update_form.charity_name.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.address.label }}
            {{ update_form.address(value=charity.address) }}
            {% for error in update_form.address.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.zip_code.label }}
            {{ update_form.zip_code(value=charity.zip_code) }}
            {% for error in update_form.zip_code.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.phone.label }}
            {{ update_form.phone(value=charity.phone) }}
            {% for error in update_form.phone.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.website.label }}
            {{ update_form.website(value=charity.website) }}

            {{ update_form.email.label }}
            {{ update_form.email(value=charity.email) }}
            {% for error in update_form.email.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.contact_name.label }}
            {{ update_form.contact_name(value=charity.contact_name) }}

            {{ update_form.contact_cell.label }}
            {{ update_form.contact_cell(value=charity.contact_cell) }}
            {% for error in update_form.contact_cell.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.contact_position.label }}
            {{ update_form.contact_position(value=charity.contact_position) }}

            {{ update_form.bank.label }}
            {{ update_form.bank(value=charity.bank) }}
            {% for error in update_form.bank.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.account_number.label }}
            {{ update_form.account_number(value=charity.account_number) }}
            {% for error in update_form.account_number.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ update_form.submit(class='btn-donate', value='Confirm Authenticaiton') }}
        </form>

        <div class="delete-request">
            <a class="btn-donate " href="{{ url_for('organization.delete_request', charity_id=charity.id) }}">Delete Request</a>
        </div>
    </div>
</div>



{% endblock content %}