{% extends 'base.html' %}
{% block title %}Donation Page{% endblock title %}
{% block content %}
<div class="form-card">
    <h1>{{ charity.charity_name }}</h1>
    <div class="form-card-header">
        <a href="{{ url_for('organization.recurring_donation_page', charity_id=charity.id) }}" class="donation-link">Recurring</a>
        <a href="{{ url_for('organization.one_time_donation_page', charity_id=charity.id) }}" class="donation-link" style="color: #f1b04c; border-bottom: solid #ee9f27 3px;">One-Time</a>
    </div>
    <div class="form-card-body">
        <h1>One-Time Donation</h1>
        <form method="post" action="{{ url_for('organization.one_time_donation_page', charity_id=charity.id, donor_id=donor.id) }}" enctype="multipart/form-data">
            {{ sd_form.hidden_tag() }}
        
            {{ sd_form.amount.label }}
            {{ sd_form.amount() }}
            {% for error in sd_form.amount.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        
            {{ sd_form.submit(class='btn-donate btn-submit') }}
        </form>
    </div>
</div>
{% endblock content %}