{% extends 'partials/base.html' %}
{% block title %}Donation Page{% endblock title %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<h1>Recurring Donation Form</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {{ rd_form.hidden_tag() }}

    {{ rd_form.amount.label }}
    {{ rd_form.amount() }}<br/>
    {% for error in rd_form.amount.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{ rd_form.how_often.label }}
    {{ rd_form.how_often() }}<br/>
    {% for error in rd_form.how_often.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{ rd_form.start.label }}
    {{ rd_form.start() }}<br/>
    {% for error in rd_form.start.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{ rd_form.end.label }}
    {{ rd_form.end() }}<br/>
    {% for error in rd_form.end.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{ rd_form.submit() }}<br/>
</form>
{% endblock content %}