{% extends 'base.html' %}
{% block title %}Authenticate Charity{% endblock title %}
{% block content %}
    <div class="card-container">
        {% if not charities_to_be_confirmed %}
            <h1>There are no charities to be confirmed</h1>
        {% else %}
            {% if current_user.admin == True %}
                {% for charity in charities_to_be_confirmed %}
                    <div class="card card-auth">
                        <div class="card-header">
                            <h3>{{ charity.charity_name }} </h3>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('organization.authenticate', charity_id=charity.id) }}" class="btn-donate">Authenticate!</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}

