{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    {% if current_user.admin == True %}
        {% for charity in charities_to_be_confirmed %}
            <p>Authenticate {{ charity.charity_name }} by clicking <a href="{{ url_for('organization.authenticate', charity_id=charity.id) }}">here</a></p>
        {% endfor %}
    {% endif %}
    <br/>
    {% if current_user.id == 1 %}
        <a href="{{ url_for('donor.add_admin') }}">Add Admin</a><br/>
        <a href="{{ url_for('donor.remove_admin') }}">Remove Admin</a><br/>
    {% endif %}
    <h3>Current Funds: {{ current_user.balance }}</h3>
    {% if is_donor %}
        <h3>Add Funds</h3><br/>
        <form method="post" enctype="multipart/form-data">
            {{ add_funds_form.hidden_tag() }}

            {{ add_funds_form.amount.label }}
            {{ add_funds_form.amount() }}<br/>
            {% for error in add_funds_form.amount.errors %}
                <p>{{ error }}</p>
            {% endfor %}

            {{ add_funds_form.submit() }}
        </form>
    {% endif %}
{% endblock content %}



