{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<div class="form-card">
    <div class="form-card-body">
        <h1>Current Funds: {{ current_user.balance }}</h1>
        <div class="body-links">
            <a href="{{ url_for('donor.add_funds', donor_id=donor.id) }}" class="btn-donate">Add Funds</a>
            <a href="{{ url_for('donor.edit_donor_profile', donor_id=donor.id) }}" class="btn-donate">Edit Profile Details</a>
        </div>
    </div>
</div>
<div class="form-card-header">
    <a class="donation-link" href="{{ url_for('donor.donor_profile_page', donor_id=donor.id) }}">Active Pledges</a>
    <a class="donation-link" href="{{ url_for('donor.scheduled_donor_pledges', donor_id=donor.id) }}" style="color: #f1b04c; border-bottom: solid #ee9f27 3px;">Scheduled Pledges</a>
    <a class="donation-link" href="{{ url_for('donor.completed_donor_pledges', donor_id=donor.id) }}">Completed Pledges</a>
    <a class="donation-link" href="{{ url_for('donor.all_one_time_donations', donor_id=donor.id) }}">Donation History</a>
    <a class="donation-link" href="{{ url_for('donor.all_receipts', donor_id=donor.id) }}">Receipts</a>
</div>
{% if scheduled_donor_pledges %}
<div class="donation-table">
    <table>
        <h1>Scheduled Pledges</h1>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Frequency</th>
            <th>Amount</th>
            <th>Charity</th>
        </tr>
        {% for pledge in scheduled_donor_pledges %}
            <tr>
                <td>{{ pledge.start_date }}</td>
                <td>{{ pledge.end_date }}</td>
                <td>{{ pledge.frequency }}</td>
                <td>{{ pledge.amount }}</td>
                <td>{{ pledge.charity.charity_name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<h1>There are no pledges to show</h1>
{% endif %}

{% endblock content %}

