<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h2>Charity Page</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                {% if current_user.id == 1 %}
                    <li><a href="{{ url_for('donor.add_admin') }}">Add Admin</a></li>
                    <li><a href="{{ url_for('donor.remove_admin') }}">Remove Admin</a></li>
                {% endif %}
                {% if current_user.admin == True %}
                    <li><a href="{{ url_for('donor.authenticate_charity') }}">Authenticate Charity</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('donor.profile_page', donor_id=current_user.id) }}">Profile</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.login') }}">Login</a></li>
                    <li><a href="{{ url_for('main.signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>

        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
</body>
</html>